.formulario {width: 90%;margin: 0 auto;padding: 5%;background-color: #181818;box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);border-radius: 2%;}
.titulo{text-align: center;color: #d8d8d8;}
.formulario_grupo {margin-bottom: 5%;}
.label {display: block;margin-bottom: 2%;color: #555;}
.input{color: #fff;width: 90%;padding: 3%;border: none;border-radius: 5px;cursor: pointer;}
/*para numero de telefono*/
.telefono{display: flex;}
.prefijo{display: flex;}
.prefijo_imagen{width: 50px;height: 100%;}
.prefijo_n{margin: 0%;padding: 0%;}
/**/
.envio{background-color: #333;color: #fff;width: 30%;padding: 10px 20px;border: none;border-radius: 5px;cursor: pointer;}
.envio:hover {background-color: #555;}