.todo{margin-bottom: 5%;}
.cuerpo{width: 60%;margin-left: 20%;background-color: #3a3a3a;padding: 2.5%;}
.titulo{text-align: center;margin: 5%;margin-top: 0%;color: white;font-size: 1.1rem;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.cajas{display: flex;width: 100%;justify-content: center;margin-bottom: 4%;
    background: rgb(101, 255, 242);
    background: linear-gradient(90deg, rgb(158, 238, 248,0.2) 0%, rgb(98, 110, 139) 40%);
    background-size: 300% 100%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 10% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.iconos{width: 5%;display: flex;align-items: center;
    justify-content: center;font-size: 2rem;color: White;}
.cajaA{padding: 2%;width: 80%;font-size: 1rem;color: White;border-radius: 95%;background-color: rgb(158, 238, 248,0.1);}
.cajaB{width: 10%;display: flex;align-items: center;justify-content: center;color: White;background-color: transparent;border: none;}
.cajaB:hover{transition: all 0.1s;cursor: pointer;opacity: 60%;background-color: rgb(53, 62, 82,0.4);border-radius: 15%;}
/*para los codigos*/
.Code{margin-left: 25%;width: 50%;text-align: center;}
.CodeA{display: grid;grid-template-columns: repeat(auto-fill,15%);gap: 2%;}
.Code_A{border:none;color: white;border-bottom: solid 0.4rem rgb(169, 218, 241);font-size: 2rem;text-align: center;padding: 10%;}
/*desactivado*/
.desactivado{display: none;}